body{
    margin: 0;
    min-height: 100vh;
    padding-top: 4rem;
    position: relative;
   
}

h1,h2,p{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#nav-bar{
    position: fixed;
    color: rgba(255, 255, 255, 0.884);
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(66, 66, 66, 0.89);
    height:4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 10;
}

#shop-icon{
    width:4rem;
    height:3rem;
    background-color: aliceblue;
    padding: 0.1rem;
    border-radius: 0.5rem;
    font-weight: 700;

    /* transition es para que no se vea tan agresiva el cambio de color */
    cursor: pointer;
    transition: all 0.3s ease-in;
    color: rgb(94, 92, 92);

    
}

#shop-icon:hover{
    color:rgb(117 182 36);

}

#nav-content{
    /* inherit sirve para darle al misma altura del elemento padre al elemento hijo  */
    height: inherit;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* con max-width, no utiliza el 100% de la pantalla , margin 0 auto,centra el contenido */
    max-width: 70rem;
    margin: 0 auto;
    position: relative;
    color:rgb(255, 255, 255);


}

.cart {
    height: 0rem;
    position: absolute;
    top: 4rem;
    width: 100%;
    right: 0;
    background-color: #666666dd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
     transition: all 0.3s ease-in;

    
}


table{
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;

}

td{
    height: 5rem;
    font-weight: 700;
    padding: 1rem 0;
    border-bottom: 1px solid #3a3a3a;
}

thead{
    height: 2rem;
     border-bottom: 1px solid #3a3a3a;
}

#table-clear{
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: rgb(117 182 36);
    font-weight: 700;
    color: aliceblue;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;

}

#table-clear:hover{
     background-color: rgb(70, 114, 17);
}

.show-cart{
    height: 25rem;
    padding: 1rem;
}


#hero-icon{
    width: 2rem;
    height: 2rem;
    color:rgb(117 182 36);
    gap: 2rem;
    
}

#hero{

    /* esto es para indicar que calcule el 100 de la pantalla MENOS la barra de navegacion */
    height: calc(100vh - 4rem); 
    background-image: url("images/129193.jpg"); 
    background-position: center;
    background-size: cover;
    padding: 0.1rem;
    gap: 1rem;
    
}

#hero-content{
    height: 100%;
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

#hero-title{
    font-size: 2.25rem;
     
    
    
    
}

#hero-input{
    display: flex;
    background-color: #ffffff;
    padding: 0.4rem;
    border-radius: 0.5rem;
    gap: 12px;
    
}

input{
    width: 80%;
    background-color: transparent;
    outline: none;
    font-size: 1.125rem;
}

#info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.info-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-bottom:   1px solid white;
    padding: 0.5rem;
}

.info-icon{
    width: 2rem;
    height: 2rem;
}

#info{
    padding: 1rem;
    background-color:rgba(66, 66, 66, 0.89);
    

}


.game-info-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

#games{
    min-height: 100vh;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(66, 66, 66, 0.89);
    
   
    
}

#juegos-container{
    max-width: 80rem;
    margin: 0 auto;
    width: 100%;
}

#game-title3{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#games-list{
    margin: 0;
    padding: 1rem ;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem   ;
}

.juegos-item{
    background-color:rgba(255, 255, 255, 0.89);
    border-radius: 0.5rem;
   color: #000000;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: scale(1);
    transition: all 0.3s ease-in;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)
}

.juegos-item:hover{
    transform: scale(1.05);
}

.juego{
    height: 40%;
    border-radius: 0.5rem;
}

.game-info{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.25rem;

}

.game-title .game-price{
    font-weight: 700;

}

.game-btn{
    padding: 1rem;
    font-weight: 700;
    background-color: rgb(117 182 36);
    color: #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
    
}

.game-btn:hover{
    background-color: rgb(70, 114, 17);

}





@media (min-width: 640px) {
    .cart{
        width: 50%;
    }

 #hero-content{
align-items: flex-start;
 }

 #hero{
    height: calc(80vh - 4rem);
 }

 #info-container{
    flex-direction: row;
 }
 .info-div{
    border: none;
 }
 .juegos-item{
    width: 40%;
 }

 #games-list{
    flex-direction: row;
    flex-wrap: wrap;


 }

}


@media (min-width: 1024px) {
    .cart{
        width: 50%;
    }

 #hero-content{
align-items: flex-start;
 }

 #hero{
    height: calc(80vh - 4rem);
 }

 #info-container{
    flex-direction: row;
 }
 .info-div{
    border: none;
 }
 .juegos-item{
    width: 30%;
 }


 #games-list{
    flex-direction: row;
    flex-wrap: wrap;


 }

}
